# Dependências
node_modules/

# Logs e Dados de Leads Privados
leads.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
.env.local
